extends layout

block content
  main
    header
      h1 Speech Chat
      p Click on the microphone to start chatting.
    p(class='output')
    ul#messages
    form(action='')
      p Did you say?
      input#m(autocomplete='off' type="text")
      button Send
    div#hodler
      img(src="img/microphone.svg")
  

  script(srcipt src="js/script.js")
  script(src="/socket.io/socket.io.js")
  script(script src="https://code.jquery.com/jquery-1.11.1.js")
  script.
    $(function () {
    var socket = io();
    $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
      });
    });
